@media(min-width: 1px){
  .selected-button,
  .unselected-button {
    font-size: 9px;
  }

.social-fcn-icon-left:hover,
.social-fcn-icon-right:hover {
  background: #fff;
}
}
@media(min-width: 768px){
  .selected-button,
  .unselected-button {
    font-size: 10px;
  }

  .search-icon-container:hover{
    background-image: url(../images/search_icon_hover.png);
  }
}

@media(min-width: 962px){
  .selected-button,
  .unselected-button {
    font-size: 11px;
  }

  .copyright,
  .footer-contact {
    font-size: 9px;
  }

  .search-icon-container:hover{
    background-image: url(../images/search_icon.png);
  }


}



a.entry-link:hover,
a.entry-link-selected{
    color: #fff;
}

a.entry-link-blue:hover {
  color: #50afc1;
  text-decoration: underline;
}

a.entry-link-green:hover {
  color: #8ba949;
  text-decoration: underline;
}

a.footer-contact {
  color: #d4d4d4;
  text-decoration: none;
}

a.footer-contact:hover {
  text-decoration: underline;
}

a.search-button-text {
    color: #fff;
    font-size: 9px;
}

a.sidebar-link {
  color: #f0f4f5;
  text-decoration: none;
}

a,
a.social-fcn-links,
a.social-fcn-link-right {
  color: #3b464a;
  text-decoration: none;
}

a.topic-link {
  color: #505050;
}

a.topic-link:hover {
  text-decoration: underline;
}

body {
  font-family: Arial;
}

ul {
  list-style: none;
}

.sidebar-content:hover,
.sidebar-right-content:hover,
.social-fcn-links-left:hover,
.social-fcn-links-right:hover {
  background-color: white;
}

.cross-icon-container,
.search-button-container,
.selected-button,
.sidebar-icon,
.sidebar-link,
.sidebar-text,
.sidebar-text-top,
.sidebar-text-bottom,
.sidebar-top-text,
.sidebar-right-content,
.social-fcn-links-left,
.social-fcn-links-right,
.unselected-button {
    cursor: pointer;
}


.inline {
  display: inline;
  line-height: 11px;
  vertical-align: top;
}

.all-entries {
  background: url("../images/left.png") no-repeat;
  background-size: cover;

}

.blue {
  color: #50afc1;
}

.bold {
  font-weight: bold;
}

.cross-icon-container {
  background: url(../images/cross_icon.png);
}

.cross-icon-container:hover {
  background: url(../images/cross_icon_hover.png);
}

.entry {
  padding: 14px 0px 15px 0px;
}

.entry-container {
  font-size: 30px;
}

.entry-info {
    color: #7e7e7e;
}
.entry-info,
.notification,
.user-profile-fcn-link{
  font-size: 11px;
}

.entry-nav-title {
  font-size: 12px;
  text-align: center;
}

.entry-topic {
  font-size: 14px;
}

.footer-content {
  color: #c1c1c1;
  font-size: 7px;
  background-color: #727272;
}


.footer-wrapper {
  background-color: #727272;
}

.gray {
  color: #b9b9b9;
}

.green {
  color: #8ba949;
}


.header-bottom-wrapper,
.nav-bar-bottom {
  background-color: #f5f5f5;
}

.header-top-wrapper,
.nav-bar-top {
  background-color: #7dd9e8;
}

.hover {
  display: none;
}

.account-button:hover .not-hover {
  display: none;
}

.account-button:hover .hover {
  display: initial;
}

.red {
  color: #d3401e;
}

.search-bar {
  background-color: #cceef6;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 11px;
}


.search-button-container {
  background: url("../images/search_button.png") no-repeat;
}

.search-icon-container {
  background: url("../images/search_icon.png");
}

.selected-button,
.unselected-button:hover {
  background: url(../images/selected.png) no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.sidebar-content {
  background-color: #f0f4f5;
}

.sidebar-right-content {
  color: #5b5b5b;
  font-size: 11px;
}

.sidebar-right {
  background-color: #f5f5f5;
}

.sidebar-text,
.sidebar-text-bottom,
.sidebar-text-top {
  color: #474747;
  font-size: 11px;
}

.sidebar-title-bottom,
.sidebar-title-right,
.sidebar-title-top {
  background-color: #2fc1da;
  color: #fff;
  font-size: 16px;
}

.sidebar-bottom,
.sidebar-top{
  background-color: #f0f4f5;
}



.social-fcn-links-left {
  color: #505050;
  font-size: 13px;
}

.social-fcn-links-right {
    color: #505050;
    font-size: 11px;
}


.subscribed {
  background: url(../images/right.png) no-repeat;
  background-size: cover;
}

.unselected-button {
  background: url(../images/unselected.png) no-repeat;
  background-size: cover;
  color: #343434;
  text-align: center;
}

.user-name {
  font-size: 15px;
  font-weight: bold;
}

.user-profile {
  text-align: right;
}

.user-profile-fcn-links {
  word-spacing: 0px;
}

.user-profile-fcn-link:hover,
.user-name:hover {
  text-decoration: underline;
}
