.works {
  background-color: $athensGray2;
  padding-top: 50px;
  margin: 25px auto 0px auto;
  max-width: 1920px;
  width: 100%;
  @include mq('md') {
    height: 800px;
    margin-top: 125px;
  }
  @include mq('xl') {
    height: 1270px;
  }
  @include e('title') {
    color: $blueBayoux;
    text-align: center;
    font-size: 20px;
    @include mq('md') {
      font-size: 36px;
      margin-top: 72px;
    }
    @include mq('xl') {
      font-size: 46px;
    }
  }
  @include e('text') {
    color: $lynch;
    font-size: 15px;
    line-height: 34px;
    margin: 25px auto 0px auto;
    text-align: center;
    @include mq('md') {
      font-size: 20px;
    }
    @include mq('xl') {
      width: 740px;
    }
  }
  @include e('container') {
    float: left;
    @include first-child {
      @include mq('md') {
        margin-right: (80px / 1220px) * 100%;
      }
      @include mq('xl') {
        margin-right: 30px;
      }
    }
    @include mq('md') {
      width: (570px / 1220px) * 100%;
    }
    @include mq('xl') {
      width: 570px;
    }
  }
  @include e('type') {
    width: (280px / 320px) * 100%;
    margin: 20px auto 0px auto;
    @include mq('md') {
      margin-top: 73px;
      width: (1220px / 1920px) * 100%;
    }
    @include mq('xl') {
      width: 1170px;
    }
  }
  @include e('img') {
    width: 100%;
  }
  @include e('desc') {
    background-color: $white;
    border: 1px solid $athensGray;
    border-bottom: 2px solid $athensGray;
    border-top: 0px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    @include mq('md') {
      height: 90px;
      margin-bottom: 0px;
    }
    @include mq('xl') {
      height: 112px;
    }
  }
  @include e('desc-text') {
    color: $blueBayoux;
    @include mq('md') {
      font-size: 15px;
      padding-top: 20px;
    }
    @include mq('xl') {
      font-size: 20px;
      padding-top: 32px;
    }
  }
  @include e('identity') {
    color: $lynch;
    font-size: 14px;
    margin-top: 9px;
  }
  @include e('imgs') {
    width: (270px / 320px) * 100%;
    margin: 30px auto 0px auto;
    @include mq('md') {
      width: (1220px / 1920px) * 100%;
    }
    @include mq('xl') {
      margin-top: 80px;
      width: 1170px;
    }
  }
  @include e('img-small') {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    @include mq('md') {
      margin-bottom: 0px;
      margin-right: (40px / 1220px) * 100%;
      width: (275px/1220px) * 100%;
    }
    @include mq('xl') {
      margin-right: 30px;
      width: 270px;
    }
    @include last-child {
      margin-right: 0px;
      margin-bottom: 0px;
    }
  }
  @include e('indicators') {
    margin: 20px auto 20px auto;
    width: 41px;
    @include mq('md') {
      margin-bottom: 0px;
      margin-top: 45px;
      width: 50px;
    }
    @include mq('xl') {
      width: 65px;
    }
  }
  @include e('indicator') {
    border-radius: 50%;
    margin-right: 10px;
    height: 7px;
    width: 7px;
    @include mq('md') {
      height: 10px;
      width: 10px;
    }
    @include mq('xl') {
      height: 15px;
      width: 15px;
    }
    @include last-child {
      margin-right: 0px;
    }
    @include hover {
      cursor: pointer;
    }
  }
  @include e('indicator--color--gray') {
    background-color: $blueBayoux;
  }
  @include e('indicator--color--green') {
    background-color: $carribeanGreen;
  }
}
