@media(min-width: 1280px) {
  .dev-imgs {
    width: 1200px;
  }
  .dev-imgs-tablet,
  .logos-tablet,
  .services2-tablet,
  .services-container-tablet,
  .wwd-tablet {
    display: none;
  }
  .services2-title {
    margin-top: 0px;
  }
  .logos-desktop,
  .dev-imgs-desktop,
  .services2-desktop,
  .services-container,
  .wwd-desktop {
    display: initial;
  }
  .description {
    width: 954px;
  }
  .description-services2 {
    margin: 39px auto 0px auto;
    width: 954px;
  }
  .description-www {
    width: 954px;
  }
  .banner {
    max-width: 1920px;
    height: 1000px;
    padding-bottom: 0px;
  }
  .welcome {
    padding-top: 211px;
  }
  .slider {
    width: 1210px;
    margin: 157px auto 28px auto;
    padding-left: 10px;
  }
  .intro-work,
  .about-contacts {
    width: 48.7603306%;
  }
  .intro,
  .work,
  .about,
  .contacts {
    width: 47.4576271%;
  }
  .header-wrapper {
    width: 100%;
    max-width: 1204px;
  }
  .creative {
    padding-top: 161px;
  }
  .cd {
    font-size: 14px;
    margin-top: 13px;
  }
  .lids {
    font-size: 15px;
    margin-top: 10px;
  }
  .line-red-www {
    margin: 35px auto 0px auto;
  }
  .main-container {
    max-width: 1920px;
  }
  .nav-icon-fcn {
    padding-top: 36px;
    margin-left: 11px;
  }
  .text-fcn {
    margin-left: 53px;
  }
  .welcome-to-mogo {
    padding: 25px calc(50% - 457.5px) 0px calc(50% - 457.5px);
    line-height: 141px;
  }
  .wwd {
    margin: 105px auto 0px auto;
  }
  .wwd-imgs {
    width: 1200px;
    margin: 97px auto 110px auto;
  }
  .wwd-img-left {
    width: 380px;
  }
  .matthew,
  .christopher,
  .michael {
    position: relative;
    width: 380px;
  }
  .dev-imgs-right {
    width: 790px;
  }
  .dev-imgs-container {
    width: 1200px;
    margin: 89px auto 0px auto;
  }
  .dev-imgs-desktop {
    width: 1200px;
    margin: 89px auto 0px auto;
  }
  .christopher-container,
  .michael-container {
    width: 29.6875%;
  }
  .wwd-img {
    width: 380px;
  }
  .matthew-container {
    width: 380px;
  }
  .matthew:hover .matthew-hover,
  .matthew:hover .social-links {
    display: initial;
  }
  .christopher-container,
  .michael-container {
    width: 380px;
  }
  .christopher-hover,
  .michael-hover,
  .matthew-hover {
    width: 380px;
    right: 10px;
  }
  .wwd-imgs-right {
    width: 790px;
  }
  .super-team {
    right: 153px;
  }
  .stats-container {
    width: 1202px;
    padding-right: 1px;
  }
  .stats-value {
    width: 19.9000833%;
    height: 270px;
  }
  .stat-num {
    font-size: 72px;
    margin-top: 70px;
  }
  .stat-desc {
    font-size: 14px;
  }
  .mogo-www {
    margin-top: 104px;
  }
  .services-container {
    width: 100%;
    margin: 63px auto 0px auto;
  }
  .services-top-wrapper {
    width: 1200px;
    margin: 62px auto 0px auto;
  }
  .services-bottom-wrapper {
    width: 1200px;
  }
  .services-left-container {
    width: 763px;
    margin-left: 30px;
  }
  .services-left {
    width: 362px;
  }
  .services-text {
    width: calc(100% - 60px);
  }
  .services-right-container {
    width: 370px;
  }
  .services-desc {
    width: 280px;
  }
  .fad {
    max-width: 1920px;
    margin: 118px auto 0px auto;
    height: 850px;
  }
  .fad-title {
    padding-top: 104px;
  }
  .ipad {
    margin-left: 33.8541667%;
  }
  .iphone {
    left: 407px;
  }
  .services2-img {
    max-width: 570px;
  }
  .services2-details {
    margin-top: 88px;
    width: 1200px;
    margin: 89px auto 0px auto;
  }
  .services2-desktop {
    margin: 0px auto 0px auto;
  }
  .services2 {
    margin-top: 104px;
  }
  .services2-accordion {
    width: 600px;
    margin: 0px;
  }
  .accordion-box {
    width: 598px;
    margin-top: 10px;
  }
  #accordion-details2 {
    line-height: 24px;
  }
  .accordion-details-text {
    width: 525px;
  }
  .quote {
    height: 270px;
    margin-top: 100px;
    margin-bottom: 94px;
  }
  .quote-content {
    width: 1214px;
  }
  .quote-details {
    padding: 0px 90px 0px 110px;
    width: 1014px;
  }
  .quote-image {
    margin-top: 70px;
  }
  .quote-entry {
    width: 797px;
    padding-top: 72px;
  }
  .left-button {
    top: 134px;
    left: 30px;
  }
  .right-button {
    top: 134px;
    right: 32px;
  }
  .wwa {
    height: 849px;
    margin-bottom: 106px;
  }
  .social-links {
    right: 88px;
  }
  .name-title-matthew {
    margin-top: 28px;
  }
  .logos-desktop {
    height: 270px;
    margin-bottom: 93px;
  }
  .logo-wrapper {
    width: 1200px;
    padding-top: 62px;
    height: 168px;
  }
  .company-logo {
    margin-left: 91px;
  }
  .work-images {
    width: 50%;
  }
  .work-image-right-top,
  .work-image-right-bottom {
    width: 100%;
    height: 390px;
  }
  .work-image img {
    max-width: 100%;
  }
  .testimonial {
    margin-top: 100px;
  }
  .testimonial-content {
    width: 1260px;
  }
  .testimonial-details {
    padding: 0px 90px 0px 80px;
    width: 1030px;
  }
  .testimonial-entry {
    width: 767px;
    font-size: 22px;
    line-height: 36px;
    padding-top: 32px;
    margin-right: 23px;
    padding-left: 0px;
  }
  .testimonial-text {
    padding-right: 33px;
    padding-left: 1px;
    color: #d9d9d9;
  }
  .testimonial-author-name {
    margin-top: 11px;
  }
  .wps {
    padding-top: 105px;
    height: 690px;
  }
  .wps-left {
    width: 529px;
  }
  .wps-top-wrapper {
    width: 1200px;
    padding-left: 79px;
  }
  .wps-bottom-wrapper {
    width: 1200px;
    margin: 66px auto 0px auto;
    padding-left: 79px;
  }
  .wps-name {
    margin-bottom: 11px;
  }
  .wps-text {
    width: 390px;
    margin-top: 8px;
  }
  .wps-right {
    width: 529px;
  }
  .stories {
    padding-top: 84px;
  }
  .blogs-wrapper {
    width: 1200px;
    margin: 46px auto 0px auto;
  }
  .blog-content {
    width: 380px;
    margin-left: 30px;
  }
  .date {
    bottom: 10px;
    left: -10px;
  }
  .blog-text {
    width: 380px;
    height: 92px;
  }
  .blog-desc {
    margin-top: 10px;
  }
  .blog-title {
    margin-top: 17px;
  }
  .map {
    margin-top: 62px;
  }
  .footer-container-top {
    width: 1208px;
    padding-bottom: 65px;
  }
  .subscribe {
    width: 480px;
  }
  .blogs-insta {
    width: 694px;
    padding-right: 4px;
  }
  #arrow-up1 {
    display: none;
  }
  .footer-text {
    padding-left: 4px;
  }
  .follower-num {
    margin-left: 5px;
  }
  .subscribe-form {
    width: 324px;
    margin: 0px;
  }
  .subscribe {
    margin-top: 62px;
  }
  .follow-us {
    margin-bottom: 36px;
  }
  .follow-icon {
    margin-left: 5px;
    margin-right: 0px;
  }
  .input-email {
    width: 218px;
  }
  .text-field {
    width: 227px;
    margin-left: 5px;
  }
  .subscribe-btn {
    width: 150px;
  }
  .blog2-text {
    width: 200px;
    padding-top: 17px;
    padding-left: 19px;
  }
  .blog2-date {
    color: #b1b1b1;
  }
  .blog2-heading {
    margin-bottom: 5px;
    line-height: 18px;
  }
  .blog2-img {
    width: 120px;
    height: 80px;
  }
  .blogs2,
  .insta {
    padding-top: 30px;
    height: 357px;
    width: 349px;
  }
  .blogs2 {
    width: 419px;
  }
  .insta {
    width: 270px;
  }
  .blog2-post {
    margin-top: 30px;
    padding-left: 4px;
    width: 340px;
  }
  .blogs2-title {
    padding-left: 3px;
  }
  .insta-imgs-container {
    padding-left: 0px;
  }
  .insta-img {
    width: 88px;
  }
}