  .nav-text-fcn{
    display: none;
  }
  .wwd-desktop {
    display: none;
  }

  .facebook-hover,
  .twitter-hover,
  .pinterest-hover,
  .instagram-hover{
    display: none;
  }

  .facebook:hover .facebook-regular,
  .twitter:hover .twitter-regular,
  .pinterest:hover .pinterest-regular,
  .instagram:hover .instagram-regular{
    display:none;
  }

  .facebook:hover .facebook-hover,
  .twitter:hover .twitter-hover,
  .pinterest:hover .pinterest-hover,
  .instagram:hover .instagram-hover{
    display:block;
  }

  .dev-imgs-desktop,
  .logos-desktop,
  .services2-desktop,
  .services-container,
  .services2-tab-desk,
  .logos-tablet,
  .wps-tab-desk {
    display: none;
  }

  .wwa {
    margin-bottom: 100px;
    margin-top: 20px;
  }
  .wwd-tablet {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  header {
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  .description {
    /*padding-left: 17.7083333%;*/
    margin: 20px auto 0px auto;
    width: 90%;
    line-height: 24px;
  }

 .description-services2 {
    /*padding-left: 17.7083333%;*/
    margin: 20px auto 0px auto;
    width: 90%;
    line-height: 24px;
  }

  .description-www {
    margin: 39px auto 0px auto;
    width: 90%;
    line-height: 24px;
  }

  .banner{
    width: 100%;
    max-width: 1920px;
    padding-bottom: 10px;
     }

  .welcome {
    padding-top: 80px;
  }

  .nav-fcn-ham {
    padding-top: 60px;
  }

  #nav-bar-fcns {
    display: none;
  }

  .nav-fcn {
    border-bottom: 1px solid #fff;
    padding: 5px 0px;
  }


  .wwd-img-top,
  .wwd-img-middle,
  .wwd-img-bottom,
  .wwd-img-top-cover{
    width: 380px;
    height: 250px;
    margin: 30px auto 0px auto;
  }

  .wwd-img {
    width: 49.4791667%;
    position: relative;
  }

  .super-team{
  display:none;
}

.wwd-img-left-top{
  display:none;
}

  .

   .wwd-img-left:hover .wwd-img-left-top,
.wwd-img-left:hover .super-team,
.wwd-img:hover .wwd-img-wwd2,
.wwd-img:hover .super-team,
.wwd-img:hover .wwd-img-wwd3,
.wwd-img:hover .super-team {
    display: initial;
}

  .wwd-img-left-top,
  .wwd-img-wwd2,
  .wwd-img-wwd3 {
    display:none;
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 3px;
    right: 3px;
  }


  .wwd-imgs{
    width: 96.09375%;
    margin: 49px auto 56px auto;
  }

  .wwd-img-left{
    position: relative;
    width: 31.9783198%;
  }

  .img-top-wrapper,
  .img-middle-wrapper {
    width: 100%
  }

  .work-image{
    width: 50%;
    height: 195px;
  }


.work-image-right {
  width: 100%;
  height: 195px;
}

.jellyfish {
  height: 390px;
}



.wwd-img-top-cover{
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 10px;
    right: 10px;
  }
  .wwd-img-top {
    position: relative;
  }

  .wwd-img-left-top {
    width: 100%;
    height: 250px;

  }

  .wwd-imgs-bottom {
    width: 46.09375%;
    margin: 20px auto 50px auto;
    height: 250px;
  }


  .slider {
    width: 83.3333333%;
    margin: 30px auto 0px auto;

  }

  .intro-work,
  .about-contacts {
    width: 48.75%;
  }

  .intro,
  .work,
  .about,
  .contacts {
    width: 47.4358974%;
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    text-align: left;
  }

  .intro {
    border-top: 3px solid #fff;
    position: relative;
  }

  .red-border{
    border-top: 3px solid #f38181;
    position: absolute;
    width: 40%;
    bottom: 18px;
  }

  .header-wrapper {
    width: 90%;
    margin: 0px auto;
  }

  .hover-cart,
  .hover-search,
  .hover-hamburger {
    display: none;
  }

  .icon-fcn.left:hover .regular-cart,
  .icon-fcn.left:hover .regular-hamburger,
  .icon-fcn.right:hover .regular-search {
    display: none;
  }

  .icon-fcn.left:hover .hover-cart,
  .icon-fcn.right:hover .hover-search,
  .icon-fcn.left:hover .hover-hamburger {
    display: initial;
  }

  .icon-fcn {
    margin-left: 20px;
  }

  .inline {
    display: inline-block;
  }

  .learn-more {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 3px solid #fff;
    cursor:pointer;
    outline:none;
    width: 115px;
    height: 30px;
    margin: 30px auto 0px auto;
    color: #fff;
  }

  .line-white {
    border-top: 2px solid #fff;
    width: 58px;
    margin: 20px auto 0px auto;
  }

   .line-red,
     .line-red-map,
    .line-red-www,
  .line-red-fad  {
    border-top: 3px solid #f38181;
    width: 58px;
    margin: 20px auto 0px auto;
  }

  .line-red-map {
    margin-top: 10px;
  }

  .line-red-wps-text {
    border-top: 3px solid #f38181;
    width: 58px;
    margin-bottom: 10px;
    margin-left: 1px;
  }

  .wps-profile {
    width: 97%;
    margin: 20px auto 0px auto;
  }



 .learn-more:hover{
    border: 3px solid #fce38a;
 }


  .logo {
    padding-left: .5px;
    padding-top: 21px;
  }

  .main-container {
    width: 100%;
    max-width: 1920px;
    margin:0px auto;
  }

  .nav-icon-fcn {
    padding-top: 37px;
  }

  .nav-text-fcn {
    padding-top: 34.3px;
  }

  .text-fcn {
    margin-left: 30px;
  }

  .fcn-link:hover {
    padding-bottom: 10px;
    list-style-position:inside;
    border-bottom: 3px solid #fce38a;
  }

  .welcome-to-mogo {
    padding: 5px calc(50% - 200px) 0px calc(50% - 200px);
    line-height: 50px;
  }

  .wwd{
     width: 100%;
     margin:20px auto 0px auto;

  }

  .section-sub-title {
    margin-top: 10px;
  }

  .section-sub-title-wps {
    margin-top: 9px;
  }


  .wwd-imgs{
    width: 96.09375%;
    margin: 35px auto 50px auto;
  }

  .wwd-img-left{
    position: relative;
    width: 31.9783198%;
  }

  .matthew {
    position: relative;
    height: 240px;
    width: 100%;
  }

  .dev-imgs-right{
    width: 65.8333333%;
    height: 240px;
  }

.dev-imgs-middle {
  width: 380;
  margin: 80px auto;
}

.christopher {
  height: 240px;
}

.michael {
  height: 240px;
}

.dev-img{
    width: 47.7987421%;
    height: 240px;
  }

.matthew-container {
  width: 31.4049587%;
  height: 240px;
}


.dev-imgs {
    width: 94.53125%;
    margin: 30px auto 0px auto;
}

  .wwd-img-left-top {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 3px;
    right: 3px;
  }

  .wwd-img-left,
  .wwd-img,
  .wwd-imgs-right{
    height: 150px;
  }

  .matthew-image {
    position: absolute;
    width: 100%;
    bottom: 4px;
    right: 4px;
    height: 240px;
  }

  .wwd-imgs-right {
    width: 66.25%;
  }

  .super-team{
    position: absolute;
    bottom: 50px;
    right: calc(50% - 48px);
    font-size:15px;
  }


  .stats {
    background-color: #95e1d3;

  }
  .stats-container {
    width: 94.53125%;
    margin: 0px auto;
  }

  .stats-value {
    border-right: 1px solid #b5eae0;
    width: 19.573907%;
    height: 95px;
  }


  .stats-value:first-child {
    border-left: 1px solid #b5eae0;
  }

  .stat-num {
    font-size: 26px;
    margin-top: 10px;
    text-align: center;
  }

  .stat-desc {
    font-size: 10px;
    text-align: center;
  }

  .mogo-www {
    margin-top: 20px;
  }

  .services-container-tablet {
    width: 96.09375%;
    margin: 63px auto 0px auto;
  }

  .services2-img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }

  .services-middle-wrapper,
  .services-top-wrapper {
   border-bottom: 1px solid #e5e5e5;
   padding-bottom: 15px;
   width: 96.09375%;
   margin: 20px auto 0px auto;
  }

  .services-bottom-wrapper {
    padding-top: 20px;
    width: 96.09375%;
    margin: 0px auto;
  }

  .services-left-container {
    width: 65.5826558%;
  }

  .services-left {
    width: 48.1481481%;
  }

  .services-text {
    width: calc(100% - 45px);
  }

  .services-icon {
    padding-top: 3px;
  }

  .services-right-container {
    width: 31.7073171%;
  }

  .services-desc {
    line-height: 18px;
    padding-top: 5px;
  }

  .pad-right1{
    padding-right: 1px;
  }

  .pad-left1{
    padding-left: 1px;
  }

  .fad {
    margin-top: 50px;
    width: 100%;
    height: 388px;
}

.fad-title {
    padding-top: 35px;
}

.ipad {
    position: relative;
    margin:6px auto 0px auto;
    width: 245px;
    height: 266px;
}
.iphone {
    position: absolute;
    top: 105px;
    left: 150px;
    width: 118px;
    height: 204px;
}

.services2-details-mobile {
    margin: 40px auto 0px auto;
    width: 93.75%;
}

.services2-title {
  margin-top: 30px;
}



.services2{
    margin: 40px auto 0px auto;
    width: 100%;
}

.accordion-img {
    margin: auto 0px;
    padding-left: 14px;
}

.services2-accordion {
    width: 100%;
    margin: 0px auto;
}
.accordion-box{
    border: 1px solid #e5e5e5;
    width: 100%;
    margin-top: 10px;
}

.accordion-box:first-child{
    margin-top: 0px;
}


  .christopher-hover,
  .michael-hover,
  .matthew-hover{
    height:240px;
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: -5px;
    display: none;
  }

  .christopher-container,
  .michael-container {
    position: relative;
    height: 240px;
    width: 47.7987421%;
  }

  .christopher-hover,
  .matthew-hover,
  .michael-hover,
  .social-links {
    display: none;
  }


  .christopher:hover .christopher-hover,
  .christopher:hover .social-links {
    display: initial;
  }


  .michael:hover .michael-hover,
  .michael:hover .social-links {
    display: initial;
  }


  .matthew:hover .matthew-hover,
  .matthew:hover .social-links {
    display: initial;
  }




  .christopher,
  .michael {
    height: 240px;
  }

#accordion-details-1{
    display: none;
    border: 1px solid #e5e5e5;
    border-top: 0px;
    width: 100%;
    line-height: 20px;
}

.accordion-details-open {
    display: block;
    border: 1px solid #e5e5e5;
    border-top: 0px;
    width: 100%;
    line-height: 12px;
}



.accordion-text {
    padding-top: 21px;
    padding-left: 13px ;
}

.accordion-img {
    padding: 13px 0px 9px 14px;
}

.accordion-down-btn {
    margin-top: 21px;
    margin-right: 19px;
}

.accordion-details-text {
    padding: 17px 0px 10px 19px;
    width: 80%;
}

.accordion-slider {
    position: relative;
    width: 5px;
    background-color: #f5f5f5;
    border-radius: 2px;
    height: 140px;
    margin: 20px 24px 19px 0px;
}

.accordion-slider-green {
    position: absolute;
    width: 5px;
    background-color: #caf0e9;
    border-radius: 2px;
    height: 90px;
    z-index: 1;
}

.quote {
    padding-bottom: 20px;
    background-color: #f8f8f8;
    margin-top: 50px;
}

.quote-content {
    position: relative;
    width: 100%;
    margin: 0px auto;
}

.quote-details{
    margin: auto;
    width: 70%;
}

.quote-image {
    height: 72px;
    width: 73px;
    border: 3px solid #95e1d3;
    margin-top: 30px;
    margin-left: 7px;
    padding-top: 12px;
    padding-left: 11px;
}

.quote-entry {
    width: calc(100% - 110px);
    font-size: 14px;
    line-height: 15px;
    padding-top: 32px;

}

.quote-author {
    width: 95px;
}

.left-button{
    position: absolute;
    top: 50%;
    left: 23px;
}

.right-button{
    position: absolute;
    top: 50%;
    right: 25px;
}

.testimonial-image {
  height: 100px;
  width: 100px;
}


.social-links {
    position: absolute;
    width: 24px;
    z-index: 1;
    top: 6px;
    right: 60%;
}

.follow {
  display: none;
}

.social-link {
    background-color: #fce38a;
    width: 55px;
    height: 41px;
    vertical-align: center;
    margin-right: 1px;
    padding-top: 15px;
}

.social-link:hover {
    background-color: #f38181;
}

.social-link img {
    display: block;
    margin: auto;
}

.name {
    margin-top: 12px;
    margin-bottom: 8px;
}

.name-title-matthew{
    margin-bottom: 15px;
}

.logos-tablet {
    height: 320px;
    margin-bottom: 93px;
    margin-top: 150px;
}

.logo-wrapper {
    width: 100%;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.logo-top-wrapper,
.logo-middle-wrapper,
.logo-bottom-wrapper {
  margin: 20px auto 0px auto;
  width: 304px;
}

.logo-bottom-wrapper {
  width: 294px;
}

.logo-bottom-wrapper {
  padding-left: 10px;
}

.company-logo{
    margin-left: 30px;
}

.company-logo:first-child {
    margin-left: 10px;
}

.some-work-images {
    margin-top: 99px;
    max-height: 390px;
}

.some-work-images,
.work-images-left-top,
.work-images-left-bottom {
    width: 100%;
}





.testimonial {
    margin-top: 20px;
    margin-bottom: 20px;
}

.testimonial-content {
    position: relative;
    width: 100%;
    margin: 0px auto;
}

/*.testimonial-image {
    margin-left:23px;
}*/

.testimonial-details{
    margin: 0px auto;
    width: 80%;
  }

.testimonial-entry {
    width: calc(100% - 110px);
    font-size: 14px;
    line-height: 15px;
    padding-top: 16px;
}


.testimonial-author {
    width: 125px;
}

.testimonial-author-name,
.author-name {
  margin-top: 10px;
}

.testimonial-left-button{
    position: absolute;
    top: 40%;
    left: 10px;
}

.testimonial-right-button{
    position: absolute;
    top: 40%;
    right: 10px;
}

.wps {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 20px;
}

.wps-left {
    width: 45%;
}

.wps-top-wrapper{
    width: 92.5%;
    margin: 86px auto 0px auto;
    padding-left: 5.51041667%;
}

.wps-bottom-wrapper{
    width: 92.5%;
    margin: 36px auto 0px auto;
    padding-left: 5.51041667%;
}


  .creative {
    display: none;
    padding-top: 70px;
    text-align: center;
    margin: 0px auto;
    color: #fff;
  }

   .creative-jellyfish{
    padding-top: 140px;
    display: none;
    text-align: center;
    margin: 0px auto;
    color: #fff;
  }

.wps-title{
    margin-bottom: 5px;
}

.wps-text{
    width: calc(100% - 120px);
    margin-top: 9px;
}

.wps-say {
    line-height: 14px;
}


 .wps-right{
    margin-left: 71px;
    width: 45%;
 }

 .blog1 {
    height:120px;
}

.blog2 {
    height:120px;
}

.blog3 {
    height:120px;
}

 .stories {
    width: 100%;
    padding-top: 0px;
 }

.blogs-wrapper {
    width: 93.75%;
    margin: 46px auto 0px auto;
}

 .blog-image-wrapper {
    position: relative;
    height: ;

 }

 .blog-content {
    width: 31.6666667%;
    margin: 0px 0px 20px 2.5%;
 }

 .blog-content:first-child {
  margin-left: 0px;
 }


 .date {
    position: absolute;
    bottom: 3px;
    left: -5px;
    width: 50px;
    height: 52px;
    padding-top: 8px;
    background-color: #95e1d3;
 }

 .date-num {
    position: absolute;
    bottom: 18px;
    left: 10px;
 }

 .date-month {
    position: absolute;
    bottom: 14px;
    left: 13px;
 }

 .blog-text{
    width: 100%;
    height: 180px;
   border-bottom: 1px solid #e5e5e5;

 }

 .blog-title{
    margin-top: 12px;
 }

 .month {
    line-height: 0px;
 }

 .blog-stats{
    width: 93px;
    padding-top: 19px;
 }

 .view-count,
 .speech-count {
    padding-left: 2px;
    line-height: 12px;
 }

 .map {
    padding-top: 27px;
    height: 113px;
 }


 .footer-container-top {
    width: 94.7916667%;
    margin: 0px auto;
    padding-bottom: 15px;
    border-bottom: 1px solid #f2f2f2;
 }

 .footer-bottom {
  padding-bottom: 20px;
 }

 .subscribe {
    width: 40%;
 }

 .insta {
    width: 270px;
 }

 .blogs-insta {
    width: 58%;
 }



 .footer-text{
    padding-right: 5px;
    line-height: 15px;
    margin-bottom: 42px;
 }

 .follower-num {
    font-size: 18px;
 }

 .follower-text {
    font-size: 14px;
 }

 .subscribe-form {
    width: 100%;
 }

 .subscribe {
    margin-top: 32px;
 }

 .subscribe-top {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 14px;
 }


 .follow-us {
    margin-top: 15px;
    margin-bottom: 5px;
 }

 .input-email{
    border: none;
    height: 38px;
    width: 90%;
    padding-left: 10px;
    font-size: 15px;
 }

 .follow-icon {
  margin-right: 20px;
 }

 .text-field {
    border: 1px solid #e5e5e5;
    width: 70%;
 }

 .sub-btn {
  width: 28%;
 }

 .subscribe-btn {
    height: 40px;
    width: 100%;
    border: none;
    background: #caf0e9;
    font-size: 7px;
 }

 .subscribe-btn:hover{
  background: #baf0e9;
 }

 .blog2-text {
    width: 68%;
 }

 .blog2-heading {
    padding-left: 1px;
 }

 .blogs2,
 .insta {
    margin-top: 47px;
    width: 60%;
 }

 .insta {
    width: 39.1304348%;
 }

 .blog2-post {
    margin-bottom: 15px;
 }



 .blog2-img {
   height: 40px;
   width: 30%;
 }

 .insta-title,
 .blogs2-title {
    margin-bottom: 5px;
 }

 .insta-img {
    width: 30%;
    height: 48px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
 }
