@media(min-width: 768px) {
  .accordion-details {
    width: 100%;
  }
  .quote-text {
    font-size: 18px;
  }
  .follow-mobile,
  .dev-imgs-desktop,
  .logos-desktop,
  .services2-desktop,
  .hamburger,
  .services-container-mobile,
  .services2-details-mobile,
  .logos-mobile,
  .wps-mobile,
  .blogs-insta-mobile,
  .subscribe-bottom-mobile,
  .insta-mobile {
    display: none;
  }
  .nav-text-fcn,
  .services-container,
  .services2-tab-desk,
  .logos-tablet,
  .wps-tab-desk,
  .blogs-insta,
  .subscribe-bottom,
  .follow,
  .follower-num,
  .follower-text,
  .footer-bottom-container {
    display: initial;
  }
  .wwa {
    height: 790px;
    margin-bottom: 40px;
  }
  .footer-bottom {
    border: 0px;
  }
  .follow-icons {
    margin-left: 0px;
    margin-top: 0px;
  }
  .description {
    margin: 41px auto 0px auto;
  }
  .description-services2 {
    margin: 40px auto 0px auto;
  }
  .banner {
    height: 700px;
  }
  .welcome {
    padding-top: 111px;
  }
  .wwd-img {
    width: 48.4599589%;
  }
  .wwd-img-bottom {
    margin-bottom: 40px;
  }
  .img-top-wrapper,
  .img-middle-wrapper {
    width: 100%
  }
  .work-image {
    height: 390px;
  }
  .work-image-right {
    height: 390px;
  }
  .wwd-imgs-bottom {
    width: 46.09375%;
    margin: 20px auto 50px auto;
    height: 250px;
  }
  .slider {
    margin: 70px auto 28px auto;
  }
  .intro,
  .work,
  .about,
  .contacts {
    padding-top: 19px;
  }
  .intro {
    border-top: 3px solid #fff;
    position: relative;
  }
  .red-border {
    width: 70px;
    bottom: 48px;
  }
  .christopher-hover,
  .michael-hover,
  .matthew-hover {
    height: 470px;
    bottom: 10px;
    left: -10px;
  }
  .christopher-container,
  .michael-container {
    height: 470px;
  }
  .christopher,
  .michael {
    height: 470px;
  }
  .icon-fcn {
    margin-left: 42px;
  }
  .learn-more {
    width: 160px;
    height: 40px;
    margin: 50px auto 0px auto;
  }
  .line-white {
    margin: 55px auto 0px auto;
  }
  .line-red {
    margin: 34px auto 0px auto;
  }
  .line-red-map {
    margin: 16px auto 0px auto;
  }
  .line-red-www,
  .line-red-fad {
    margin: 36px auto 0px auto;
  }
  .line-red-wps-text {
    margin-bottom: 10px;
    margin-left: 1px;
  }
  .welcome-to-mogo {
    padding: 25px calc(50% - 270px) 0px calc(50% - 270px);
    line-height: 90px;
  }
  .wwd {
    margin: 40px auto 0px auto;
  }
  .wwd-img {
    width: 49.4791667%;
    position: relative;
  }
  .wwd-img-wwd2,
  .wwd-img-wwd3 {
    display: none;
    width: 100%;
    height: 250px;
  }
  .wwd-img-left:hover .wwd-img-left-top,
  .wwd-img-left:hover .super-team {
    display: initial;
  }
  .creative {
    padding-top: 150px;
  }
  .creative-jellyfish {
    padding-top: 300px;
  }
  .dev-imgs-right {
    height: 470px;
  }
  .dev-img {
    height: 470px;
  }
  .matthew-container {
    height: 470px;
  }
  .matthew {
    width: 100%;
    height: 470px;
  }
  .dev-imgs {
    margin: 39px auto 0px auto;
  }
  .wwd-img-left-top,
  .wwd-img-wwd2,
  .wwd-img-wwd3 {
    height: 250px;
    bottom: 10px;
    right: 10px;
  }
  .wwd-img-left,
  .wwd-img,
  .wwd-imgs-right {
    height: 250px;
  }
  .matthew-image {
    bottom: 6px;
    right: 10px;
    height: 470px;
  }
  .super-team {
    bottom: 109px;
    right: calc(50% - 52px);
  }
  .stats-value {
    width: 19.8347107%;
    height: 130px;
  }
  .stat-num {
    font-size: 36px;
    margin-top: 20px;
  }
  .stat-desc {
    font-size: 13px;
    margin-top: 9px;
  }
  .testimonial-image {
    height: 210px;
    width: 210px;
  }
  .mogo-www {
    margin-top: 35px;
  }
  .services-container-tablet {
    width: 96.09375%;
    margin: 63px auto 0px auto;
  }
  .services2-img {
    width: 47.53125%;
    height: 380px;
  }
  .services-top-wrapper {
    padding-bottom: 47px;
    margin: 40px auto 0px auto;
  }
  .services-bottom-wrapper {
    padding-top: 47px;
  }
  .services-desc {
    line-height: 23px;
    padding-top: 13px;
  }
  .fad {
    margin-top: 72px;
    height: 781px;
  }
  .ipad {
    width: 570px;
    height: 620px;
  }
  .iphone {
    top: 235px;
    left: 390px;
    width: 246px;
    height: 476px;
  }
  .services2-details {
    margin: 30px auto 0px auto;
    width: 93.75%;
  }
  .services2-title {
    margin-top: 70px;
  }
  .services2 {
    margin: 105px auto 0px auto;
  }
  .services2-accordion {
    width: 47.875%;
  }
  .accordion-img {
    padding: 13px 0px 9px 14px;
  }
  .quote {
    padding-bottom: 40px;
    margin-top: 10px;
    margin-bottom: 34px;
  }
  .quote-details {
    margin: 0px auto;
  }
  .quote-image {
    height: 102px;
    width: 103px;
    border: 3px solid #95e1d3;
    margin-top: 40px;
    padding-top: 42px;
    padding-left: 41px;
  }
  .quote-entry {
    width: calc(100% - 170px);
    font-size: 24px;
    line-height: 36px;
    padding-top: 42px;
  }
  .quote-author {
    width: 150px;
  }
  .left-button {
    top: 133px;
  }
  .right-button {
    top: 133px;
  }
  .testimonial-author-name {
    margin-top: 12px;
  }
  .social-links {
    width: 224px;
    top: 197px;
    right: calc(50% - 100px);
  }
  .follow {
    display: initial;
  }
  .follow-icon {
    margin-top: 5px;
  }
  .logos-tablet {
    width: 100%;
    height: 370px;
    margin-bottom: 93px;
  }
  .logo-wrapper {
    height: 310px;
  }
  .logo-top-wrapper,
  .logo-bottom-wrapper {
    margin: 10px auto 0px auto;
    width: 60%;
    padding-left: 6.51041667%;
  }
  .company-logo {
    margin-left: 9%;
  }
  .company-logo:first-child {
    margin-left: 0px;
  }
  .jellyfish {
    height: 780px;
  }
  .some-work-images {
    max-height: 780px;
  }
  .blog1,
  .blog2,
  .blog3 {
    height: 240px;
  }
  .testimonial {
    height: 290px;
    margin-top: 92px;
    margin-bottom: 50px;
  }
  .testimonial-details {
    width: 60%;
  }
  .testimonial-entry {
    width: calc(100% - 275px);
    font-size: 18px;
    line-height: 24px;
    margin-right: 23px;
    padding-left: 20px;
  }
  .testimonial-author {
    width: 192px;
  }
  .testimonial-left-button {
    top: 94px;
    left: 53px;
  }
  .testimonial-right-button {
    top: 94px;
    right: 55px;
  }
  .wps {
    padding-top: 35px;
    height: 925px;
  }
  .wps-name {
    margin-bottom: 10px;
  }
  .wps-title {
    margin-bottom: 17px;
  }
  .wps-text {
    margin-left: 10px;
    width: 62%;
  }
  .wps-say {
    line-height: 24px;
    margin-top: 18px;
    margin-left: 3px;
  }
  .stories {
    padding-top: 30px;
  }
  .blogs-wrapper {
    margin: 20px auto;
  }
  .blog-content {
    margin: 0px 0px 50px 2.5%;
  }
  .date {
    bottom: 14px;
    left: -14px;
    width: 60px;
    height: 62px;
    padding-top: 8px;
  }
  .date-num {
    bottom: 25px;
    left: 15px;
  }
  .date-month {
    bottom: 21px;
    left: 18px;
  }
  .blog-text {
    height: 135px;
  }
  .blog-stats {
    width: 107px;
  }
  .view-count,
  .speech-count {
    padding-left: 6px;
  }
  .map {
    padding-top: 57px;
    height: 143px;
  }
  .open-map {
    padding-top: 8px;
  }
  .footer-container-top {
    padding-bottom: 25px;
    border-bottom: 1px solid #f2f2f2;
  }
  .subscribe {
    width: 51%;
    margin-top: 15px;
  }
  .insta {
    width: 270px;
  }
  .blogs-insta {
    width: 47.5%;
  }
  footer {
    height: 560px;
  }
  .footer-text {
    line-height: 24px;
    padding-top: 26px;
  }
  .subscribe-form {
    width: 300px;
    margin: 5px 0px 0px 5px;
  }
  .blog2-post {
    margin-top: 15px;
  }
  .subscribe-top {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 14px;
  }
  .follow-us {
    margin-top: 15px;
    margin-bottom: 16px;
    margin-left: 5px;
  }
  .input-email {
    width: 216px;
  }
  .text-field {
    border-right: none;
    width: 215px;
  }
  .subscribe-btn {
    width: 97px;
    font-size: 14px;
  }
  .blog2-text {
    width: 50%;
  }
  .blogs2,
  .insta {
    padding-top: 25px;
    height: 357px;
    width: 58%;
  }
  .insta {
    width: 39.1304348%;
  }
  .blog2-img {
    height: 80px;
    width: 40%;
  }
  .blog2-post {
    margin-top: 26px;
    width: 90%;
  }
  .insta-title,
  .blogs2-title {
    margin-bottom: 35px;
  }
  .insta-img {
    width: 31.5925926%;
    height: 88px;
  }
  .more-imgs {
    margin-top: 16px;
  }
}