body {
    font-family: Arial;
}

a{
    color: #3b464a;
    text-decoration: none;
}

a.social-fcn-links, a.social-fcn-link-right, a. {
    color: #3b464a;
    text-decoration: none;
}

a.sidebar-link {
    color: #f0f4f5;
    text-decoration: none;
}



.bold {
    font-weight: bold;
}

.green {
    color: #8ba949;
}

.blue {
 color: #50afc1;
}

.red {
    color: #50afc1;
}